.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section_layer {
  width: 1024px;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.item {
  width: 100%;
  height: 80px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  padding: 0 20px;

  cursor: pointer;
}

.item:hover {
  background-color: #d3d3d3;
}
